@import "../../styles/colors/colors.scss";
@import "../../styles/text-styles/textStyles.scss";

.plus-minus-button {
  box-shadow: none;
  border: 1px solid $inactive-color;
  justify-content: space-between;
  @extend .header-6;
  height: 50px;
  img {
    height: 36px;
    width: 36px;
  }
  padding: 0 10px;
}
