@import "../../styles/colors/colors.scss";
@import "../../styles/text-styles/textStyles.scss";
@import "../../styles/buttons/button.scss";

$width: 200px;

.slider-button {
  width: 362px;
  @extend .outline-button;
  background: $light-font;
  height: 86px;
}
.slider {
  position: relative;
  width: $width;
}

.slider__track,
.slider__range {
  border-radius: 100px;
  height: 5px;
  position: absolute;
}

.slider__track {
  background-color: $primary-color-inactive;
  width: 100%;
  z-index: 1;
}

.slider__range {
  background-color: $primary-color;
  z-index: 2;
}

/* Removing the default appearance */
.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: $width;
  outline: none;
}

.thumb--zindex-3 {
  z-index: 3;
}

.thumb--zindex-4 {
  z-index: 4;
}

.thumb--zindex-5 {
  z-index: 5;
}

/* For Chrome browsers */
.thumb::-webkit-slider-thumb {
  background-color: $primary-color;
  border: none;
  border-radius: 50%;

  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

/* For Firefox browsers */
.thumb::-moz-range-thumb {
  background-color: $primary-color;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

.slider__left-value,
.slider__right-value {
  color: $light-font;
  background: $primary-color;
  padding: 0 7px;
  min-width: 26px;
  height: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  @extend .caption-text;

  top: 0;
  position: absolute;
  transform: translateY(-50%);
}

.slider__left-value {
  left: -50px;
}

.slider__right-value {
  right: -50px;
}

.slider-button.-inactive {
  border: 1px solid $placeholder-font;

  .slider__right-value,
  .slider__left-value,
  .slider__range,
  .thumb::-webkit-slider-thumb {
    background-color: $placeholder-font;
  }

  .thumb::-moz-range-thumb {
    background-color: $placeholder-font;
  }
}
