@font-face {
  font-family: "Merriweather Sans";
  src: url("MerriweatherSans-Light.eot");
  src: url("MerriweatherSans-Light.eot?#iefix")
      format("embedded-opentype"),
    url("MerriweatherSans-Light.woff2")
      format("woff2"),
    url("MerriweatherSans-Light.woff")
      format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
