@import "../../styles/colors/colors.scss";
@import "../../styles/text-styles/textStyles.scss";

.message-system {
	position: relative;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 18px;
	width: 80%;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: $light-font;
	max-width: 375px;
	@extend .body-2;
	.message-success-icon,
	.message-error-icon,
	.message-info-icon,
	.message-warning-icon {
		position: absolute;
		left: 8%;
		top: 50%;

		transform: translateY(-50%);
		path {
			fill: $light-font;
		}
		width: 31px;
		height: 31px;
	}

	&-success {
		background: $success-color;
		.message-success-icon {
			fill: $success-color;
		}
	}

	&-error {
		background: $error-color;
		.message-error-icon {
			fill: $error-color;
		}
	}
	&-information {
		background: $information-color;
		.message-info-icon {
			fill: $information-color;
		}
	}

	&-warning {
		background: $warning-color;
		.message-warning-icon {
			fill: $warning-color;
		}
	}

	p {
		margin-left: 8%;
	}
}
