@import "../../styles/colors/colors.scss";
@import "../../styles/text-styles/textStyles.scss";

.post-card {
	position: relative;
	width: 90%;
	max-width: 347px;
	height: 160px;
	background: $light-font;
	box-shadow: -0.5px 0.5px 1px rgba(0, 0, 0, 0.25);
	border-radius: 18px;
	padding: 16px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	.post-unavailable {
		background-color: rgba(255, 255, 255, 0.9);
		@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
			background: rgba(248, 252, 253, 0.7);
			-webkit-backdrop-filter: blur(10px);
			backdrop-filter: blur(10px);
		}
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 18px;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		&-info-icon {
			width: 48px;
			height: 48px;
			fill: $information-color;
			margin-bottom: 16px;
		}

		&-close-button {
			position: absolute;
			right: 16px;
			top: 16px;
			width: 24px;
			height: 24px;
			fill: $primary-color;
		}

		p {
			@extend .subtitle-2;
			margin-bottom: 16px;
			margin-top: 0px;
		}

		button {
			text-align: center;
			display: flex;
			justify-content: center;
			height: 17px;
			padding: 0;
		}
	}

	&-date-line {
		display: flex;
		align-items: center;
		.date-line-text {
			display: flex;
			justify-content: space-between;
			color: $secondary-color-1;
			@extend .body-2;
			.date-separator {
				color: $dark-font;
			}
			.date-separator,
			.card-date-dot {
				margin: 0 3px;
			}
			.card-date-dot,
			.card-total-days {
				color: $placeholder-font;
			}
		}

		.badge {
			margin-left: auto;
			@extend .caption-text;
		}
		.post-favorite-close {
			margin-left: auto;
			fill: $primary-color;
			height: 24px;
			width: 24px;
		}
	}

	&-title {
		@extend .header-6;
		text-align: left;
	}

	.badge-list {
		display: flex;
		width: 80%;
		.badge {
			margin-right: 8px;
		}
	}
}
