@import "~stories/styles/colors/colors.scss";
@import "~stories/styles/text-styles/textStyles.scss";

.password-wrapper {
	position: relative;
	height: 100%;

	input {
		position: absolute;
		top: 0;
		font-size: 14px;
		width: 200%;
		cursor: text;
		left: 0;
		height: 100%;
		outline: none;
		&.password-dots {
			font-size: 18px;
			color: $dark-font;
		}
		&.input-hidden {
			z-index: 2;
			&.-focused {
				color: $dark-font;
			}
			&.-hidden {
				opacity: 0;
			}
		}
	}

	.show-password {
		position: absolute;
		right: 20px;
		text-align: right;
		width: auto;
		height: auto;
		top: 0%;
		transform: translateY(-50%);
		text-decoration: underline;
		padding: 0;
		font-size: 12px;
		z-index: 10;
	}
}
